# Requires authentication with the GitHub NPM package registry
#
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#authenticating-to-github-packages
@schnz:registry=https://npm.pkg.github.com
