* {
  z-index: 99;
}

.top-box {
  padding: 15px 15px 15px 15px;
}

.grid-title {
  font-size: 12px;
  color: rgba(238, 238, 236, 1);
  padding: 5px;
  text-align: left;
}

.grid-panel {
  width: 320px;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 1);
  box-shadow: 0 0 5px rgba(31, 31, 31, 0.2);
}

.table-container {
  padding: 10px;
  background-color: rgba(238, 238, 236, 0.1);
}

.table {
  spacing-rows: 2px;
  spacing-columns: 2px;
}

.table-element {
  background-color: rgba(238, 238, 236, 0.3);
  margin: 5px;
  border-radius: 2px;
}

.table-element:activate {
  background-color: rgba(240, 240, 240, 0.5);
}

.tiling-icon {
  width: 24px;
  height: 24px;
  background-image: url("images/launcher_16.png");
  background-size: 16px 16px;
}

.tiling-icon:hover {
  background-image: url("images/launcher_16_hover.png");
}

.tiling-icon:activate {
  background-image: url("images/launcher_16_activated.png");
}

.close-button-container {
  background-color: rgba(0, 120, 255, 0);
}

.close-button {
  width: 24px;
  height: 24px;
  background-image: url("images/close_button.png");
}

.close-button:hover {
  width: 24px;
  height: 24px;
  background-image: url("images/close_button_hover.png");
}

.animation-icon {
  background-image: url("images/animation-icon.png");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.auto-close-icon {
  background-image: url("images/auto-close-icon.png");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.action-main-list {
  background-image: url("images/autoTile_0.png");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.action-two-list {
  background-image: url("images/autoTile_1.png");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.action-scale {
  background-image: url("images/scale-icon.png");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.settings-label {
}

.settings-label:hover {
}

.grid-preview {
  background-color: rgba(238, 238, 236, 0.0);
  border: 2px solid rgba(238, 238, 236, 0.0);
  border-radius: 10px;
  z-index: 90;
}

.grid-preview:activate {
  background-color: rgba(170, 170, 151, 0.01);
  box-shadow: 0 0 3px rgba(40, 40, 40, 0.2);
  border: 2px solid rgba(238, 238, 236, 0.7);
}

.bottom-box-container {
  background-color: rgba(238, 238, 236, 0.05);
  padding: 10px;
}

.bottom-box-container .settings-button {
  border: 1px solid rgba(31, 31, 31, 1);
  color: rgba(238, 238, 236, 1);
  background-color: rgba(238, 238, 236, 0.1);
  border-radius: 20px;
  padding: 0;
  margin: 5px;
  font-size: 12px;
  line-height: 12px;
}

.bottom-box-container .settings-button:hover,
.bottom-box-container .settings-button:activate {
  border: 1px solid rgba(27, 106, 203, 1);
  background-color: rgba(238, 238, 236, 0.3);
}

.bottom-box {
  spacing-rows: 0px;
  spacing-columns: 2px;
}

.very-bottom-box {
  spacing-rows: 0px;
  spacing-columns: 2px;
  margin: 15px 20px 10px 50px;
}

.very-bottom-box-container .settings-button{
  margin-right: 30px;
  height: 26px;
}

.very-bottom-box-container .settings-button:hover,
.settings-button:activate {
  border: 2px solid rgba(27, 106, 203, 1);
  background-color: rgba(27, 106, 203, 1);
  border-radius: 50px;
}
