*{
z-index: 99;
}

.grid-title{
	font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding: .5em;
    text-align:center;
}

.grid-panel{
    background-color: rgba(10,10,10,0.7);
    -webkit-filter: blur(2px);
    width:320px;
    border-radius: 10px;
}

.table-container
{
	
}

.table{
	spacing-rows: 2px;
	spacing-columns: 2px;
}

.table-element{
    background-color: rgba(240,240,240,0.4);
	margin: 1px;
}

.table-element:activate
{
    background-color: rgba(240,240,240,0.8);
}

.tiling-icon
{
    width: 24px;
    height: 24px;
    background-image: url("images/launcher_16.png");
    background-size: 16px 16px;
}

.tiling-icon:hover
{
    background-image: url("images/launcher_16_hover.png");
}

.tiling-icon:activate
{
    background-image: url("images/launcher_16_activated.png");
}

.close-button-container
{
	background-color: rgba(0,120,255,0);
}

.close-button
{
    width:24px;
    height:24px;
    background-image: url("images/close_button.png");
}

.close-button:hover
{
    width:24px;
    height:24px;
    background-image: url("images/close_button_hover.png");
}

.top-box
{
    padding:3px;
}

.settings-button
{
    background-color: rgba(0,120,255,0.4);
    color: rgba(255,255,255,0.4);
    border-radius:0px;
    border:1px rgba(0,200,255,0.4);
}

.settings-button:activate
{
   background-color: rgba(0,120,255,0.7);
    color: rgba(255,255,255,1);
    border:1px rgba(0,200,255,0.7);
}

.settings-button:activate:hover
{
    background-color: rgba(30,150,255,0.7);
    color: rgba(255,255,255,1);
    border:1px rgba(0,200,255,0.7);
}

.settings-button:hover
{
    background-color: rgba(0,120,255,0.7);
    color: rgba(255,255,255,1);
    border:1px rgba(0,200,255,0.7);
}

.animation-icon
{
    background-image: url("images/animation-icon.png");
    background-size: 36px 36px;
    height:36px;
    width:36px;
}

.auto-close-icon
{
    background-image: url("images/auto-close-icon.png");
    background-size: 36px 36px;
     height:36px;
    width:36px;
}

.action-main-list
{
    background-image: url("images/autoTile_0.png");
    background-size: 36px 36px;
     height:36px;
    width:36px;
}

.action-two-list
{
    background-image: url("images/autoTile_1.png");
    background-size: 36px 36px;
     height:36px;
    width:36px;
}

.action-scale
{
    background-image: url("images/scale-icon.png");
 	background-size: 36px 36px;
 	 height:36px;
    width:36px;
}

.settings-label
{
    
}

.settings-label:hover
{
   
}

.grid-preview
{
     background-color: rgba(241,122,73,0.0);
     border: rgba(217,108,59,0.0);
}

.grid-preview:activate
{
    background-color: rgba(241,122,73,0.4);
    border: 1px solid rgba(217,108,59,0.8);
}

.bottom-box-container
{

	padding:10px 0px 0px 0px;
}

.bottom-box
{
	spacing-rows: 0px;
	spacing-columns: 2px;
}

.very-bottom-box-container
{
	padding:2px 0px 10px 0px;
}

.very-bottom-box
{
    spacing-rows: 0px;
	spacing-columns: 2px;
}

